<!DOCTYPE html>
<html>
  <head>
    <title>AU | Economic Review</title>

    <meta charset="utf-8">
    
    <meta name="description" content="Ashoka University's Premier Student Run Economics Newspaper">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" sizes="128x128" href="icons/favicon-128x128.png">
    <link rel="icon" type="image/png" sizes="96x96" href="icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="32x32" href="icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="icons/favicon-16x16.png">
    <link rel="icon" type="image/ico" href="favicon.ico">
  </head>
  <body>
        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>

        <!-- TODO: Add SDKs for Firebase products that you want to use
            https://firebase.google.com/docs/web/setup#available-libraries -->
        <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-analytics.js"></script>
        <script src="/__/firebase/7.18.0/firebase-firestore.js"></script>
    
        <!-- Initialize Firebase -->
        <script src="/__/firebase/init.js"></script>
        <script src="https://www.powr.io/powr.js?platform=html"></script>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;500;600&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Rufina&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@500&display=swap" rel="stylesheet">
        <script async charset="utf-8" src="https://widgets.fxempire.com/widget.js" ></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script>
          // Your web app's Firebase configuration
          // For Firebase JS SDK v7.20.0 and later, measurementId is optional
          var firebaseConfig = {
            apiKey: "AIzaSyCZ-x7XaXFlVb2mpGgPgAhfzcugcjbtGOc",
            authDomain: "auer-web-app.firebaseapp.com",
            databaseURL: "https://auer-web-app.firebaseio.com",
            projectId: "auer-web-app",
            storageBucket: "auer-web-app.appspot.com",
            messagingSenderId: "225514822238",
            appId: "1:225514822238:web:9323eb5f67974509da72cf",
            measurementId: "G-M6ERCGMBKS"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
          firebase.analytics();
        </script>
        <script>
          // Your web app's Firebase configuration
          // For Firebase JS SDK v7.20.0 and later, measurementId is optional
          var firebaseConfig = {
            apiKey: "AIzaSyCZ-x7XaXFlVb2mpGgPgAhfzcugcjbtGOc",
            authDomain: "auer-web-app.firebaseapp.com",
            databaseURL: "https://auer-web-app.firebaseio.com",
            projectId: "auer-web-app",
            storageBucket: "auer-web-app.appspot.com",
            messagingSenderId: "225514822238",
            appId: "1:225514822238:web:e59b18cb2aba9f87da72cf",
            measurementId: "G-RZW939412Z"
          };
          // Initialize Firebase
          firebase.initializeApp(firebaseConfig);
          firebase.analytics();
        </script>
    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>

